<ion-header>
  <ion-toolbar >
    <ion-title>Edit Subscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <div class="ion-padding Pincode_Form">
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <ion-item class="ion-margin-bottom Input_num" expand="block" fill="outline">
        <ion-label position="floating">Milk</ion-label>
        <ion-input formControlName="milk" type="text"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
        Name is required.
      </span>
     
      <ion-item class="ion-margin-bottom Input_num" expand="block" fill="outline">
        <ion-label position="floating">emailId</ion-label>
        <ion-input formControlName="emailId" type="email"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
        Email is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
        Please provide valid email id.
      </span>
  <!-- <ion-item>
    <ion-label>
      <ion-input formControlName="file" type="file"></ion-input>
    </ion-label>
  </ion-item> -->
  
  <ion-item class="ion-margin-bottom Input_num" expand="block" fill="outline">
    <ion-label position="floating">Mobile</ion-label>
    <ion-input maxlength="10" formControlName="phone" type="text" required></ion-input>
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.required">
    phone number is required.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.pattern">
    Only numerical values allowed.
  </span>
      <ion-item class="ion-margin-bottom Input_num" expand="block" fill="outline">
        <ion-label position="floating">Address</ion-label>
        <ion-input  formControlName="address" type="text" required></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.mobile.errors?.required">
        address is required.
      </span>
      
      <ion-item class="ion-margin-bottom Input_num" expand="block" fill="outline">
        <ion-label position="floating">Delivery Frequency</ion-label>
        <ion-input formControlName="deliveryFrequency" type="text"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.deliveryFrequency.errors?.required">
        Delivery Frequency is required.
      </span>

      <ion-item class="ion-margin-bottom Input_num" expand="block" fill="outline">
        <ion-label position="floating">Invoice Number</ion-label>
        <ion-input formControlName="invoiceNumber" type="text"></ion-input>
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.invoiceNumber.errors?.required">
        InvoiceNumber is required.
      </span>


      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    </form>
    </div>
  </ion-content>
</ion-content>
