<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Refund</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col sizeLg="10" offsetLg="1" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-list>
            <ion-item *ngFor="let Refund of refund">
            <ion-label> {{Refund.description}} </ion-label>
            <ion-label> {{Refund.userId}} </ion-label>
            <ion-label>{{Refund.description}}</ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="deleteRefundClick(Refund._id)" color="danger" > <ion-icon slot="start" name="add"></ion-icon>
                Delete
               </ion-button>
              <!-- (click)="onClick()" -->
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
