<ion-header>
  <ion-toolbar color="success">
    <ion-title>Edit Product</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/product"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" offset="3">
          <div class="ion-padding Pincode_Form">
            <img [src]="imageUrl" alt="">
            <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
              <ion-item class="ion-margin-bottom Input_num" expand="block" fill="outline">
                <ion-label position="floating">title
                </ion-label>
                <ion-input formControlName="title" type="text"></ion-input>
              </ion-item>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.title.errors?.required">
                title is required.
              </span>
              <ion-item class="ion-margin-bottom Input_num" expand="block" fill="outline">
                <ion-label position="floating"> Price</ion-label>
                <ion-input formControlName="Price" type="Price"></ion-input>
              </ion-item>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Price.errors?.required">
                Price is required.
              </span>
              <ion-item class="ion-margin-bottom Input_num" expand="block" fill="outline">
                <ion-label position="floating">Discounted Price</ion-label>
                <ion-input formControlName="discountedPrice" type="DiscountedPrice"></ion-input>
              </ion-item>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Discounted.errors?.required">
                DiscountedPrice is required.
              </span>
              <ion-item class="ion-margin-bottom Input_num" expand="block" fill="outline">
                <ion-label position="floating">Stock</ion-label>
                <ion-input formControlName="Stock" type="Stock" placeholder="Available stock of item in count"></ion-input>
              </ion-item>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.Stock.errors?.required">
                Stock is required.
              </span>
              <ion-item class="ion-margin-bottom Input_num" expand="block" fill="outline" >
                <ion-label position="floating">Units</ion-label>
                <ion-input formControlName="units" type="In_Stock" placeholder="liter/gram"></ion-input>
              </ion-item>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.In_Stock.errors?.required">
               Units  is required.
              </span>
        
              
              <ion-item class="ion-margin-bottom Input_num" expand="block" fill="outline">
                <ion-label position="floating">Category</ion-label>
                <ion-input formControlName="category" type="text" required></ion-input>
              </ion-item>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.category.errors?.required">
                category number is required.
              </span>
              
              <ion-item class="ion-margin-bottom Input_num" >
                <!-- <ion-label position="floating">imge</ion-label> -->
                <input (change)="fileEvent($event)" formControlName="file" type="file">
              </ion-item>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
               File is required.
              </span>
              <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
               file should be min 2 chars long.
              </span>
            
              <ion-row>
                <ion-col>
                  <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
                </ion-col>
              </ion-row>
            </form>
            </div>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
