<ion-header>
  <ion-toolbar>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid >
    <ion-row>
      <ion-col sizeLg="8" offsetLg="1" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-list>
          <ion-item *ngFor="let user of users">
            <ion-label>{{user.email}}</ion-label>
            <ion-label> {{user.password}} </ion-label>
       
            <ion-buttons slot="end">
              <ion-button (click)=" openEditPage(user)" color="success">
                <!-- (click)="onClick()" -->
               Edit
              </ion-button>
              <ion-button (click)=" deleteUsertClick(user._id)" color="danger" > <ion-icon slot="start" name="add"></ion-icon>
               Delete
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

