<ion-header>
  <ion-toolbar>
    <ion-title>User</ion-title>
    <ion-button
      (click)="openAddUserPage()"
      color="light"
      slot="end"
      fill="clear"
    >
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-list>
          <ion-item *ngFor="let user of users">
            <ion-label>{{user.fName}}</ion-label>
            <ion-label> {{user.password}} </ion-label>

            <ion-buttons slot="end">
              <ion-button (click)=" openEditPage(user)" color="success">
                Edit
              </ion-button>
              <ion-button (click)=" openAddSubscriptionPage(user)" color="warning">
                Add Subscription
              </ion-button>
              <ion-button
                (click)="sendNotification(user.firebaseToken)"
                color="tertiary"
              >
                <ion-icon slot="end" name="send"></ion-icon>
                Send notification
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
