<ion-header>
  <ion-toolbar>
    <ion-title>Login to Vitolic Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col size="6" offset="3" style="margin-top: 20vh ;">
     
      <img src="assets/icon/logo-vitolic.svg" alt="" srcset="">

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="email" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required formControlName="password" type="text"></ion-input>
        </ion-item>
        <ion-button block color="success" type="submit" [disabled]="loginForm.invalid">
          Login
        </ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
