<ion-header>
  <ion-toolbar color="success">
    <ion-title>Order</ion-title>
    <ion-badge slot="end" color="primary" mode="ios"> Order Count {{orders.length || 0}} </ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- <ion-segment value="all" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="all">
    <ion-label>All  </ion-label> 
  </ion-segment-button>
  <ion-segment-button value="paused">
    <ion-label>Paused</ion-label>
  </ion-segment-button>
  <ion-segment-button value="terminated">
    <ion-label>Terminated</ion-label>
  </ion-segment-button>
</ion-segment> -->
<ion-searchbar placeholder="Order Id" [(ngModel)]="orderFilter.orderId" inputmode="decimal" type="decimal"></ion-searchbar>
<div class="w3-container">

  <table class="w3-table-all w3-hoverable" >
    <thead>
      <tr class="w3-light-grey" >
        <th>OrderId</th>
        <th>Image</th>
        <th>Title</th>
        <th>Total</th>
        <th>Quantity</th>
        <th>Type</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone no</th>
        <th>Address</th>
        <th>Order Days</th>

      </tr>
    </thead>
    <tr *ngFor="let cart of orders |  filterBy: orderFilter">
      <td>{{cart?.orderId}}</td>
      <td> <ion-img style="height: 50px; width: auto;" [src]="cart?.products[0]?.imageUrl"></ion-img> </td>
      <td> {{cart?.products[0]?.title}} </td>
      <td>{{cart?.total | currency:"INR"}}</td>
      <td>{{cart?.products[0]?.amount}}</td>
      <td>{{cart?.type}}</td>
      <td>{{cart?.userId?.fName}}</td>
      <td>{{cart?.userId?.email}}</td>
      <td>{{cart?.userId?.contactNumber}}</td>
      <td>{{cart?.address?.addLine1}}, {{cart?.address?.addLine2}}, {{cart?.address?.city}} {{cart?.pincode}}.</td>
      <td> {{cart?.orderDays.length}} </td>
    </tr>
    
  </table>
</div>


</ion-content>

