<ion-header>
  <ion-toolbar color="success">
    <ion-title>Order</ion-title>
    <ion-badge slot="end" color="primary" mode="ios"> Order Count {{orders.length || 0}} </ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-segment value="all" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="all">
    <ion-label>All  </ion-label> 
  </ion-segment-button>
  <ion-segment-button value="paused">
    <ion-label>Paused</ion-label>
  </ion-segment-button>
  <ion-segment-button value="terminated">
    <ion-label>Terminated</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-searchbar placeholder="Order Id" [(ngModel)]="orderFilter.orderId" inputmode="decimal" type="decimal"></ion-searchbar>
<!-- <ion-item>
  <ion-chip color="primary" mode="ios" outline="true">
    <ion-label>Daily</ion-label>
  </ion-chip>
  <ion-chip color="secondary" mode="ios" outline="true">
    <ion-label>Alternate</ion-label>
  </ion-chip>
  <ion-chip color="tertiary" mode="ios" outline="true">
    <ion-label>Custom</ion-label>
  </ion-chip> 
   <ion-chip color="dark" mode="ios" outline="true">
    <ion-label>One time</ion-label>
  </ion-chip>
</ion-item> -->
  <ion-grid >
    <ion-row>
      <ion-col>
        <ion-list>
      
          <ion-item *ngFor="let cart of orders |  filterBy: orderFilter" detail>
            <ion-avatar slot="start">
              <img [src]="cart?.products[0]?.imageUrl" />
            </ion-avatar>
            <ion-label>
              <p>Order Id: {{cart?.orderId}}</p>
              <p>Order Total: {{cart?.total | currency:"INR"}}</p>
              <p>Frequency: {{cart?.type}}</p>
            </ion-label>
          </ion-item>

          <ion-item  *ngIf="(orders | filterBy:orderFilter).length === 0">
            <ion-label>No Orders</ion-label>
          </ion-item>
          
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

