<ion-header>
  <ion-toolbar color="success">
    <ion-title>Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-segment value="all" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="all">
    <ion-label>All</ion-label>
  </ion-segment-button>
  <ion-segment-button value="paused">
    <ion-label>Paused</ion-label>
  </ion-segment-button>
  <ion-segment-button value="terminated">
    <ion-label>Terminated</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-searchbar placeholder="Filter orders" inputmode="decimal" type="decimal"></ion-searchbar>
<ion-item>
  <ion-chip color="primary" mode="ios" outline="true">
    <ion-label>Daily</ion-label>
  </ion-chip>
  <ion-chip color="secondary" mode="ios" outline="true">
    <ion-label>Alternate</ion-label>
  </ion-chip>
  <ion-chip color="tertiary" mode="ios" outline="true">
    <ion-label>Custom</ion-label>
  </ion-chip> 
   <ion-chip color="dark" mode="ios" outline="true">
    <ion-label>One time</ion-label>
  </ion-chip>
</ion-item>
  <ion-grid >
    <ion-row>
      <ion-col sizeLg="8" offsetLg="1" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-list>
          <ion-item *ngFor="let cart of orders">
            <ion-avatar>
              <img [src]="cart?.products[0]?.imageUrl" />
            </ion-avatar>
            <ion-label slot="start"></ion-label>

            <ion-label slot="end">{{cart.createdAt | date}}</ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="openOrderDetailPage(cart)" color="success" >
               View
              </ion-button>
           
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

