<ion-header>
  <ion-toolbar color="success" > 
    <ion-title>Order Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/order"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col sizeLg="10" offsetLg="1" sizeMd="12" sizeSm="12" sizeXs="12">
        <!-- <ion-list>
          <ion-item *ngFor="let cart of orders">
            <ion-label slot="start"> <strong>Address:</strong> {{cart.address.useradd}}</ion-label>
            <ion-label>{{cart.isDelivered}}</ion-label>
            <ion-label>{{cart.status}}</ion-label>

         
            
            <ion-label>ccc</ion-label>
            <ion-label slot="end">{{cart.createdAt | date}}</ion-label>
           
         
         
          
           
          </ion-item>
        </ion-list> -->

        <!-- <ion-item  *ngFor="let cart of orders ">
          <ion-col col-4>
            <ion-label >{{cart.address.useradd}}</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >{{cart.isDelivered}}</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >{{cart.status}}</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label >{{cart.products.category}}</ion-label>
          </ion-col>
          <ion-col col-4>
            <ion-label ></ion-label>
          </ion-col>
          
        
        </ion-item> -->
        <ion-item *ngFor="let cart of orders ">
          <ion-col>{{cart.address.useradd}}</ion-col>
          <ion-col>{{cart.isDelivered}}</ion-col>
          <ion-col>{{cart.status}}</ion-col>
         
          <!-- <ion-col>{{cart.products.category}}</ion-col> -->
          <ion-col>{{cart.total}}</ion-col>
          <ion-col>{{cart.createdAt | date}}</ion-col>
          <ion-col>{{cart.updatedAt| date}}</ion-col>
        </ion-item>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>


 
    <!-- <ion-row>
      <ion-col>S.No</ion-col>
      <ion-col>Name</ion-col>
      <ion-col>Gender</ion-col>
      <ion-col>Country</ion-col>
    </ion-row> -->


   




</ion-content>



