<ion-header>
  <ion-toolbar >
    <ion-title>TotalCity</ion-title>
    <ion-button color="light" (click)="openAddCityPage()" fill="clear" slot="end">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-text color="secondary" class="ion-text-center" *ngIf="TotalCity.length <= 0"> 
    <h6>No Cities Found!</h6>
  </ion-text>
  <ion-grid >
    <ion-row>
      <ion-col sizeLg="10" offsetLg="1" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-list>
          <ion-item *ngFor="let TotalCity of TotalCity">
            <ion-label>{{TotalCity.areaName}}</ion-label>
            <ion-label> {{TotalCity.pincode}} </ion-label>
          
            <ion-buttons slot="end">
              <ion-button (click)="openEditPage(TotalCity)" color="success">
                <!-- (click)="onClick()" -->
               Edit
              </ion-button>
              <ion-button (click)="deleteTotalCityClick(TotalCity._id)" color="danger" > <ion-icon slot="start" name="add"></ion-icon>
               Delete
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
