<ion-header>
  <ion-toolbar>
    <ion-title>Subscription</ion-title>
    <ion-badge slot="end" color="tertiary" mode="ios">Total Subscription  {{subscription.length}} </ion-badge>
  </ion-toolbar>
  <ion-segment value="DAILY" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="DAILY">
      <ion-label>Daily</ion-label>
    </ion-segment-button>
    <ion-segment-button value="ALTERNATE">
      <ion-label>Alternate</ion-label>
    </ion-segment-button>
    <ion-segment-button value="CUSTOM">
      <ion-label>Custom</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>


  <ion-grid >
    <ion-row>
      <ion-col sizeLg="6" offset="3">
        <ion-list>
          <ion-item *ngFor="let subscript of subscription" detail>
            <ion-avatar>
              <img [src]="subscript.imageUrl" alt="" srcset="">
            </ion-avatar>
            <ion-label class="ion-margin-start">
              <p>{{subscript.deliveryFrequency}}</p>
            </ion-label>
            <ion-badge color="primary" mode="ios"> {{subscript.days.length}} </ion-badge>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

