<ion-header>
  <ion-toolbar>
    <ion-title>Subscription</ion-title>
    <ion-badge slot="end" color="tertiary" mode="ios">Total Subscription  {{subscription.length}} </ion-badge>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="w3-container">

    <table class="w3-table-all w3-hoverable" >
      <thead>
        <tr class="w3-light-grey" >
          <th>OrderId</th>
          <th>Invoice No</th>
          <th>Product Image</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Days Remaining</th>
          <th>Type</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone no</th>
          <th>Address</th>
  
        </tr>
      </thead>
      <tr *ngFor="let subscript of subscription">
        <td>{{subscript?.cartId?.orderId}}</td>
        <td>{{subscript?.billId?.invoiceNumber}}</td>
        <td> <ion-img style="height: 50px; width: auto;" [src]="subscript?.cartId?.products[0]?.imageUrl"></ion-img> </td>
        <td> {{subscript?.startDate}} </td>
        <td>{{subscript?.endDate}}</td>
        <td>{{subscript?.daysRemaining}}</td>
        <td>{{subscript?.deliveryFrequency}}</td>
        <td>{{subscript?.userId?.fName}}</td>
        <td>{{subscript?.userId?.email}}</td>
        <td>{{subscript?.userId?.contactNumber}}</td>
        <td>{{subscript?.address?.addLine1}}, {{subscript?.address?.addLine2}}, {{subscript?.address?.city}} {{subscript?.pincode}}.</td>
      </tr>
      
    </table>
  </div>

  <!-- <ion-grid >
    <ion-row>
      <ion-col sizeLg="6" offset="3">
        <ion-list>
          <ion-item *ngFor="let subscript of subscription" detail>
            <ion-avatar>
              <img [src]="subscript.imageUrl" alt="" srcset="">
            </ion-avatar>
            <ion-label class="ion-margin-start">
              <p>{{subscript.deliveryFrequency}}</p>
            </ion-label>
            <ion-badge color="primary" mode="ios"> {{subscript.days.length}} </ion-badge>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-content>

