<ion-header>
  <ion-toolbar class="Pyament">
    <ion-title>pyament</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col sizeLg="8" offsetLg="1" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-list>
        
          <ion-item >
            <ion-label>
              <ion-checkbox ></ion-checkbox>
              
            </ion-label>
            <ion-label>
              <ion-checkbox ></ion-checkbox>
            </ion-label>
            <ion-label>
              <ion-checkbox ></ion-checkbox>
            </ion-label>
            <ion-label>
              <ion-checkbox ></ion-checkbox>
            </ion-label>
            <ion-label>product </ion-label>
            <ion-buttons slot="end">
              <ion-button  color="success">
                <!-- (click)="onClick()" -->
               Edit
              </ion-button>
              <ion-button  color="danger" > <ion-icon slot="start" name="add"></ion-icon>
               Delete
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>