<ion-header>
  <ion-toolbar>
    <ion-title>Add Promo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Offer Description</ion-label>
    <ion-input [(ngModel)]="offer"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>CODE</ion-label>
    <ion-input [(ngModel)]="code"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Maximum amount</ion-label>
    <ion-input type="number" [(ngModel)]="maxAmuont"></ion-input>
  </ion-item>

  <ion-button (click)="submitForm()" expand="block">
    Create
  </ion-button>
</ion-content>
