<ion-header>
  <ion-toolbar>
    <ion-title>add-banner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding Pincode_Form">
  
      <ion-item class="ion-margin-bottom Input_num" >
        <!-- <ion-label position="floating">imge</ion-label> -->
        <input (change)="fileEvent($event)" type="file">
      </ion-item>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.file.errors?.required">
        File is required.
      </span>
      <span class="error ion-padding" *ngIf="isSubmitted && errorControl.file.errors?.minlength">
        File should be min 2 chars long.
      </span>
    
      <ion-row>
        <ion-col>
          <ion-button (click)="submitForm()" type="submit" color="danger" expand="block">Submit</ion-button>
        </ion-col>
      </ion-row>
    
    </div>
    
</ion-content>
