<ion-header>
  <ion-toolbar>
    <ion-title>Deliver Boy</ion-title>
    <ion-button slot="end" (click)="openAddDeliverBoyPage()" expand="block">
      Register new
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid >
    <ion-row>
      <ion-col sizeLg="10" offsetLg="1" sizeMd="12" sizeSm="12" sizeXs="12">
        <ion-list>
          <ion-item *ngFor="let delivers of Delivers">
            <ion-label>{{delivers.fullName}}</ion-label>
            <ion-label>{{delivers.contactNumber}}</ion-label>
           
            <ion-label>{{delivers.email}}</ion-label>
            <ion-label> {{delivers.password}} </ion-label>
            <ion-buttons slot="end">
              <ion-button (click)=" openEditPage(delivers)" color="success">
                <!-- (click)="onClick()" -->
               Edit
              </ion-button>
              <ion-button (click)="deleteboyClick(delivers._id)" color="danger" > <ion-icon slot="start" name="add"></ion-icon>
               Delete
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

